/* Stylesheet Televisionair 5.0 */

/* @CHARSET "ISO-8859-1"; */

@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Oswald&display=swap");

@font-face {
    font-family: "Steelfish";
    src: url("../assets/fonts/steelfish/steelfish_rg.ttf");
}

/* Reset CSS
 * --------------------------------------- */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}



/* Custom CSS */

/* Centered texts in each section
* --------------------------------------- */
.section {
    text-align: center;
}

/* Fixed header
* --------------------------------------- */
/* #header {
    position: fixed;
    height: 55px;
    display: block;
    width: 100%;
    background: #faf7f4;
    z-index: 9;
    text-align: center;
    padding: 8px 0;
    top: 0px;
} */

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
    color: #fff;
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    position: relative;
}

#navbar {
    position: fixed;
    /* top: -70px; */
    width: 100%;
    transition: top 0.3s;
    background-color: #faf7f4;
    z-index: 9;
}

#navbar ul {
    width: 50%;
}

.nav-link {
    font-size: 1.5rem;
    color: #336b70 !important;
    font-family: "Steelfish", cursive;
    padding: 0;
}

.nav-link:hover {
    color: #e37a25 !important;
}

h1,
h2,
h3,
h4 {
    font-family: "Steelfish", cursive !important;
}

h1 {
    font-size: 5em;
    color: #fff;
    margin: 0;
}

h2 {
    font-size: 2.5em;
}

p {
    font-family: "Tw Cen MT", sans-serif;
    font-size: 2em;
}


.color-orange {
    color: #e37a25;
}

.full-height {
    min-height: 100vh;
}

/* Style for our header texts
* --------------------------------------- */
.intro p {
    text-align: justify;
    width: 65%;
    margin: 0 auto;
    font-size: 1.5em;
    color: #fff;
}

#section1,
#section2 {
    box-shadow: inset 0 5px 8px #000000;
}

#section3 {
    box-shadow: 0 -5px 8px #000000;
}

#section1 #slide1 .intro {
    color: #faf7f4 !important;
    font-size: 1.15rem !important;
}

/* Activities */
#slide2 img,
#slide3 img,
#slide4 img {
    width: 700px;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.5);
    transition: .2s;
}

#slide2 img {
    filter: brightness(86%) contrast(115%) saturate(179%);
}

#slide3 img {
    filter: brightness(90%) contrast(110%) saturate(164%);
}

#slide4 img {
    filter: brightness(90%) contrast(123%) saturate(111%);
}

#slide2 img:hover,
#slide3 img:hover,
#slide4 img:hover {
    transform: scale(1.03);
    filter: grayscale(30%);
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.2);
}

#slide2 p,
#slide3 p,
#slide4 p {
    color: #faf7f4;
    margin-bottom: -20px;
    text-shadow: 4px 5px 2px rgba(0, 0, 0, .8);
}

/* About Us */
.slide h1 {
    margin-bottom: 60px;
    font-size: 4em;
}

.slide ul {
    list-style-type: disc;
    text-align: justify;
    padding: 0 230px;
}

.slide ul li {
    margin-bottom: 10px;
    text-align: justify;
    font-size: 1.2em;
    color: #faf7f4;
}

/* Contact Us */
#contactUsLogo {
    margin: 100px 0 50px 0 !important;
}

#contactUsContent h1 {
    text-align: center;
    color: #013840;
    font-size: 3.5em;
    margin: 135px 0 30px 0;
}

#contactUsContent h3 {
    text-align: center;
    color: #013840;
    font-size: 2em;
    margin: 90px 0 0 0;
}

#contactUsContent {
    color: #013840;
    font-size: 1.15rem;
    text-align: left;
}

#contactUsContent div {
    font-size: .7em;
    margin: 65px 0 0 65px;
    color: #013840;
}

.line a,
.ig a,
.email a {
    text-decoration: none;
    color: #013840;
}

.line a:hover,
.ig a:hover,
.email a:hover {
    color: #e37a25;
}

/* ================= */
/* Background Assets */
/* ================= */

/* Activities */
#slide1 .intro,
#slide2,
#slide3,
#slide4,
#slide5 {
    position: relative;
}

#bg-1 img {
    position: absolute;
    width: 2200px;
    height: 1800px;
    top: -950px;
    left: -150px;
    filter: contrast(1.2);
    z-index: -1;
}

#bg-2 img {
    position: absolute;
    width: 2100px;
    height: 2000px;
    top: -700px;
    right: -890px;
    box-shadow: 0 0 0 0 transparent !important;
    border: none;
    z-index: -1;
}

#bg-3 img {
    /* Bird */
    position: absolute;
    width: 300px;
    height: 300px;
    top: 20px;
    right: 30px;
    box-shadow: 0 0 0 0 transparent !important;
    filter: brightness(5);
    border: none;
    z-index: -1;
}

#bg-4 img {
    /* Circle */
    position: absolute;
    width: 250px;
    height: 300px;
    top: 390px;
    left: 50px;
    box-shadow: 0 0 0 0 transparent !important;
    filter: drop-shadow(0 0 7px rgba(0, 0, 0, .8)) contrast(1.4);
    border: none;
    z-index: -1;
}

#bg-5 img {
    position: absolute;
    width: 2300px;
    height: 2000px;
    top: -700px;
    right: -1200px;
    box-shadow: 0 0 0 0 transparent !important;
    border: none;
    transform: rotate(-10deg);
    z-index: -1;
}

#bg-6 img {
    position: absolute;
    width: 2300px;
    height: 2000px;
    top: -630px;
    right: -1200px;
    box-shadow: 0 0 0 0 transparent !important;
    border: none;
    z-index: -1;
}

#bg-7 img {
    position: absolute;
    width: 2000px;
    height: 2000px;
    top: -900px;
    right: -900px;
    box-shadow: 0 0 0 0 transparent !important;
    border: none;
    transform: rotate(-20deg);
    z-index: -1;
}

/* About Us */



/* =========== */
/* RESPONSIVE */
/* =========== */

/* Navbar */
@media (max-width: 990px) {
    #navbarNav ul {
        width: 100%;
        text-align: center;
        /* margin-bottom: 5px; */
    }

    #logotvoa,
    #logoIG {
        padding: 5px;
    }
}

/* Activities */
@media screen and (max-width: 890px) {

    #slide2 img,
    #slide3 img,
    #slide4 img {
        width: 500px;
        height: 350px;
        box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.2);
    }
}

@media screen and (max-width: 600px) {

    #slide2 img,
    #slide3 img,
    #slide4 img {
        width: 300px;
        height: 200px;
    }

    #slide2 p,
    #slide3 p,
    #slide4 p {
        font-size: 1.5em;
    }

    #bg-3 img,
    #bg-4 img {
        display: none;
    }
}

/* End Of Activities */


/* About Us */
@media screen and (max-width: 1100px) {
    .intro p {
        font-size: 1.2em;
    }

    .slide h1 {
        margin-bottom: 40px;
        font-size: 3em;
    }
}

@media screen and (max-width: 1000px) {
    .slide ul {
        padding: 0 200px;
    }

    .slide ul li {
        margin-bottom: 6px;
        font-size: 1em;
    }
}

@media screen and (max-width: 855px) {
    .intro p {
        font-size: 1.1em;
    }

    .slide h1 {
        font-size: 2.3em;
    }

    .slide ul {
        padding: 0 150px;
    }

    .slide ul li {
        font-size: .9em;
    }
}

@media screen and (max-width: 767px) {
    .intro p {
        font-size: 1em;
    }

    #slide7 h1,
    #slide8 h1,
    #slide9 h1,
    #slide10 h1,
    #slide11 h1 {
        font-size: 1.7em;
    }

    .slide ul {
        padding: 0 42px;
    }
}

@media screen and (max-width: 376px) {
    .intro p {
        width: 80%;
    }

    #slide7 h1,
    #slide8 h1,
    #slide9 h1,
    #slide10 h1,
    #slide11 h1 {
        font-size: 1.4em;
    }
}

/* End Of About Us */


/* Contact Us */
@media screen and (max-width: 1200px) {
    #contactUsContent h1 {
        margin: 130px 0 30px 0;
    }

    #contactUsContent div {
        font-size: .5em;
        margin: 50px 0 0 30px;
    }

    #contactUsContent h3 {
        margin: 50px 0 40px 0;
    }
}

@media screen and (max-width: 991px) {
    #contactUsContent h1 {
        margin: 80px 0 30px 0;
    }

    #contactUsContent div {
        margin: 50px 0 0 20px;
    }
}

@media screen and (max-width: 767px) {
    #contactUsContent h1 {
        margin: -30px 0 30px 0;
    }
}

@media screen and (max-width: 376px) {
    #contactUsContent div {
        font-size: .45em;
        margin: 50px 0 0 2px;
    }
}

/* End Of Contact Us */